@charset "utf-8";
/* CSS Document */
body {
	background:#ffce16;
	margin:0;
	padding:0;
	font:normal 14px/20px "Helvetica Neue","Trebuchet MS", Arial, Helvetica, sans-serif;
	text-align:justify;
	color:#bdbdbd;
	line-height:1.3em;
}
#page {
	background: #111 url(bg.png) repeat-x 0 0;
}
header, footer, section, aside, cite {
	display:block;
}
@font-face {
	font-family: 'BebasNeue';
	src: url('fonts/BebasNeue.otf');
	src: local('?'), url('bebasneue.eot?#iefix') format('embedded-opentype'),  url('fonts/BebasNeue-webfont.woff') format('woff'),  url('fonts/BebasNeue-webfont.ttf') format('truetype'),  url('fonts/BebasNeue.svg#svgBebasNeue') format('svg');
	font-weight:normal;
	font-style: normal;
}
@font-face {
	font-family: 'Oswald';
	src: url('fonts/Oswald-Regular-webfont.eot');
	src: url('fonts/Oswald-Regular-webfont.eot?#iefix') format('embedded-opentype'),  url('fonts/Oswald-Regular-webfont.woff') format('woff'),  url('fonts/Oswald-Regular-webfont.ttf') format('truetype'),  url('fonts/Oswald-Regular-webfont.svg#OswaldRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
font-family: 'Helvetica Neue';
src: url('fonts/Helvetica-Neue-webfont.eot');
src: url('fonts/Helvetica-Neue-webfont.eot?#iefix') format('embedded-opentype'),
     url('fonts/Helvetica-Neue-webfont.woff') format('woff'),
     url('fonts/Helvetica-Neue-webfont.ttf') format('truetype'),
     url('fonts/Helvetica-Neue-webfont.svg#Helvetica Neue') format('svg');
	 font-weight: normal;
	font-style: normal;
  }
img {
	border:0;
}
ul, li, blockquote {
	list-style-type:none;
	margin:0;
	padding:0;
}
h1, h2, h3, h4 {
	font-family:"Oswald", Helvetica, sans-serif;
	font-style:normal;
	font-weight:400;
}
a {
	color:#006699;
}
a:hover {
	color:#042f45;
}
header {
	position:relative;
	width:960px;
	height:54px;
	margin:0 auto;
	z-index:100;
}
nav {
	position:absolute;
	top:18px;
	right:0;
}
header nav ul li {
	display:inline;
	margin:0 24px;
}
header nav a {
	font:normal 22px "BebasNeue", Arial, Helvetica, sans-serif;
	text-decoration:none;
	color:#005c88;
	padding:16px 0 0 0;
}
header nav a:hover {
	color:#000;
	text-shadow:-1px -1px 1px #6d6d6d;
	border-top:2px solid #000;
}
.active {
	border-top:2px solid #000;
	color:#000;
}
.active:hover {
	border-top:2px solid #000;
}
#main {
	width: 960px;
	overflow:hidden;
	margin:0 auto;
	padding:0;
}
#main #left {
	width:166px;
	margin-top:20px;
	position:relative;
	float:left;
	padding:0;
}
#main #leftgraphic {
	position: absolute;
	left:0;
	top:400px;
}
#logo {
	position:absolute;
	top:0;
	background: transparent url(logo.png) no-repeat 0 0;
	width:166px;
	height:60px;
	text-indent:-9999px;
	outline:none;
}
#logo:hover {
	background: transparent url(logo.png) no-repeat 0 -61px;
}

#left h2 {
	color:#FFF;
	text-align:center;
	margin-top:64px;
	font-size:16px;
}
{
left:0;
z-index:100;
}
#left #contbox {
	font-family:"Oswald", Helvetica, Arila, sans-serif;
	border:1px solid #9b9b9b;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	margin-top:150px;
	padding-bottom:10px;
}
#left #contbox h4 {
	font-size:12px;
	font-weight:normal;
	color:#ffce16;
	text-align:center;
}
#left #contbox ul li {
	list-style-type:disc;
	font-size:11px;
	font-stretch:semi-expanded;
	font-weight:normal;
	margin-left:20px;
	text-align:left;
}
#left #promobox {
	width:166px;
	float:left;
	font-family:"Oswald", Helvetica, Arila, sans-serif;
	border:1px solid #9b9b9b;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	margin-top:150px;
	padding-bottom:10px;
}
#main #Content {
	width:780px;
	overflow:hidden;
	float:right;
	position:relative;
	margin:20px 0;
}
#Content #leftcol {
	width: 550px;
	float: left;
	padding:0;
}
#Content #rightcol {
	width: 200px;
	float:right;
	margin-top:15px;
}
#Content #rightcol .RightHDR {
	background: #000 url(righthdr.png) repeat-x;
	height:23px;
	padding-top:12px;
}
#Content #rightcol .RightHDR h2 {
	color:#FFFFFF;
	text-align:center;
	font-size:16px;
	margin-top:0;
}
#Content #rightcol .RightHDR1 {
	background: #898989 url(righthdr1.png) repeat-x;
	height:24px;
	padding-top:8px;
}
#Content #rightcol .RightHDR1 h2 {
	color:#FFFFFF;
	text-align:center;
	font-size:16px;
	margin-top:0;
}
#Content #rightcol ul {
	color:#ffce16;
	font-size:11px;
	text-align:left;
}
#Content #rightcol li {
	border-bottom: dotted 1px #ffce16;
	list-style:none;
	padding:4px;
}
footer {
	position: absolute;
	width:100%;
	height:105px;
	color:#000;
}
footer div {
	width:960px;
	height:99px;
	margin:0 auto;
}
footer #WEB {
	width:170px;
	float:right;
}
footer #copyright {
	float:left;
	width:300px;
	font-size:12px;
	padding-top:35px;
}
footer #copyright img {
	margin-left: 10px;
}
.clear {
	clear:both;
}
.left {
	float:left;
}
.right {
	float:right;
}
.note {
	font-size:10px;
}
.bold{ font-weight: bold; }
.button {
	font:normal 14px "Oswald", Helvetica, sans-serif;
	text-decoration:none;
	border:1px solid #9b9b9b;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	padding:8px;
	background: #dbdada;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dbdada', endColorstr='#bfbfbf');
	background: -webkit-gradient(linear, left top, left bottom, from(#dbdada), to(#bfbfbf));
	background: -moz-linear-gradient(top, #dbdada, #bfbfbf);
}
.button:hover {
	color:#000;
	background: #dbdada;
	-moz-box-shadow:0 1px 0 #686868;
	-webkit-box-shadow:0 1px 0 #686868;
	box-shadow:0 1px 0 #686868;
}
li > .button {
	line-height:30px;
}
